﻿@model ParkyWeb.Models.ViewModel.TrailsVM
@{
    var title = "Create Trail";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Trail.Id != 0)
        {
            <input type="hidden" asp-for="Trail.Id">
            title = "Edit Trail";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row p-3">
                <div class="col-4">
                    National Park
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m=>m.Trail.NationalParkId,
                        Model.NationalParkList,"-Please select a park-", new{@class="form-control"})
                         <span asp-validation-for="Trail.NationalParkId" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Trail.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Name" class="form-control"></input>
                    <span asp-validation-for="Trail.Name" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Trail.Difficulty"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Trail.Difficulty"
                    asp-items="Html.GetEnumSelectList<Trail.DifficultyType>()"
                        class="form-control"></select>
                </div>
            </div>
            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Trail.Distance"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Distance" class="form-control"></input>
                    <span asp-validation-for="Trail.Distance" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Trail.Elevation"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Elevation" class="form-control"></input>
                    <span asp-validation-for="Trail.Elevation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row p-3">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                    @(Model.Trail.Id!=0?"Update":"Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
            </div>
        </div>

</form>

