﻿@model NationalPark
@{
    var title = "Create National Park";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Id != 0)
        {
            <input type="hidden" asp-form="Id">
            title = "Edit National Park";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control"></input>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" class="form-control"></input>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Picture"></label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Picture" id="projectImage" name="files" multiple class="form-control"></input>
                </div>
            </div>
             <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Established"></label>
                </div>
                <div class="col-8">
                    @{
                        var dateEst="";
                        if (Model.Id != 0)
                        {
                            dateEst = Model.Established.ToShortDateString();
                        }
                    }
                    <input id="datepicker" value=@dateEst type="text" asp-for="Established" class="form-control"></input>
                    <span asp-validation-for="Established" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row p-3">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id!=0?"Update":"Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right" style="width:250px; p-3">
            @if (Model.Picture != null)
            {
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgsrc" width="100%" />
            }
                
        </div>
    </div>

</form>

@section Scripts{
    <script>
        $(function(){
            $('#datepicker').datepicker({
                changeMonth:true,
                changeYear:true,
                yearRange:"1500:2022"
            })
        })
    </script>

}