﻿@model User

<h1> Register</h1>

<form method="post">
     <div class="form-group row p-3">
         <div class="col-3">
              <input asp-for="Username" class="form-control" placeholder="Username..."></input>
              <span asp-validation-for="Username" class="text-danger"></span>
         </div>
     </div>
     <div class="form-group row p-3">
         <div class="col-3">
              <input type="password" asp-for="Password" class="form-control" placeholder="Password..."></input>
              <span asp-validation-for="Password" class="text-danger" ></span>
         </div>
     </div>   
     <div class="form-group row p-3">
         <div class="col-3">
          <button type="submit" value="Submit" class="btn btn-success">Register</button>
          </div>
     </div>   
</form>

